{% extends "detailings/layout.html" %}

{% block body %}
    {% load static %}
    <br><br>
    <div class="card carBody4 text-center justify-content-center">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              INBOX
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              {% for message in messagesTo %}
              <a class="list-group-item list-group-item-action flex-column align-items-start w3-border">
                {% if not message.read %}
                  <span class="badge badge-pill badge-danger" id="unreadBadge2" style="visibility:visible;"><strong>UNREAD</strong></span>
                {% endif %}
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 text-primary">{{ message.fromUser }}: {{ message.subject }}</h5><br>
                  <input type="button" class="btn btn-primary btn-sm" id="messagesPopup{{message.id}}" name="messagesPopup{{message.id}}" onclick="messagesPopup(this)" value="View">
                </div>
                <span class="input-group-prepend">{{message.contents}}</span>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              SENT
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              {% for message in messagesFrom %}
              <a class="list-group-item list-group-item-action flex-column align-items-start w3-border">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 text-primary">{{ message.subject }}</h5>
                </div>
                <span class="input-group-prepend">{{message.contents}}</span>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        {% include "detailings/popupMessages.html" %}
      </div>
  </div>
{% endblock %}

