{% extends "detailings/layout.html" %}

{% block body %}
    {% load static %}
    <br><br>
        {% for order in orders %}
        <br><br>
        <div class="card carBody4 text-center justify-content-center">
          <div class="card-header">
            {% if "yuriadmin" != order.customer%}
              Order of: {{order.customer}}
            {% else %}
              My orders
            {% endif %}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{order.description}} - {{order.customer}}</h5>
            <p class="card-text">{{order.carPlate}}</p>
            <p class="card-text">
              {% for content in order.contents %}
                <ul>
                  <strong>{{content|cut:"["|cut:"]"|cut:"'"}}</strong>
                </ul>
              {% endfor %}
            </p>
            <p class="card-text">$ {{order.price}}</p>
            <p class="card-text">{{order.timestamp}}</p>
            <a href="#" class="btn btn-primary">Close order</a>
          </div>
        </div>
        {% endfor %}
  <script>
    window.onbeforeunload = null;
  </script>
{% endblock %}

