{% extends "detailings/layout.html" %}

{% block body %}
    {% load static %}
    <br><br>
    <div class="card carBody4 text-center justify-content-center">
        {% for order in orders %}
        <div class="card">
          <div class="card-header">
            {% if "yuriadmin" != order.customer%}
              Order of: {{order.customer}}
            {% else %}
              My orders
            {% endif %}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{order.description}} - {{order.customer}}</h5>
            <p class="card-text">{{order.carPlate}}</p>
            <p class="card-text">{{order.contents|cut:"["|cut:"]"|cut:"'"}}</p>
            <p class="card-text">$ {{order.price}}</p>
            <p class="card-text">{{order.timestamp}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        {% endfor %}
  </div>
  <script>
    window.onbeforeunload = null;
  </script>
{% endblock %}

