@media print {
  #invoice {
      background-color: white;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding: 15px;
      font-size: 14px;
      line-height: 18px;
  }
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

#commentSection, #filterSection{
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
}

#img{
    object-fit: contain
}

.carBody{
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 45px 65px 0px rgba(0,0,0,0.5),
    0px 35px 22px 0px rgba(0,0,0,0.16);
    max-width: 40%;
    max-height: 40%;
    margin: auto;
}

.carBody2{
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 45px 65px 0px rgba(0,0,0,0.5),
  0px 35px 22px 0px rgba(0,0,0,0.16);
  max-width: 40%;
  max-height: 40%;
  margin: auto;
}

.carBody3{
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  border-radius: 10px;
  box-shadow: 5px 20px 20px 5px rgba(7, 3, 238, 0.5);
  max-width: 40%;
  max-height: 40%;
  margin: auto;
}

.carBody4{
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  border-radius: 10px;
  box-shadow: 5px 20px 20px 5px rgba(7, 3, 238, 0.5);
  max-width: 60%;
  max-height: 60%;
  margin: auto;
}

.styled-table {
  border-collapse: collapse;
  border-radius: 10px;
  border-radius: 10px;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #210098;
  color: #ffffff;
  text-align: center;
}


.btn-close {
  margin: auto;
  top: 10px;
  border: 0;
  padding: 0;
  background: rgba(0, 102, 255, 0.397,122, 173, 250);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
}
.btn-close .icon-cross {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 20px;
  height: 20px;
}
.btn-close .icon-cross:before, .btn-close .icon-cross:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  right: 0;
  height: 3px;
  background: #fff;
  border-radius: 3px;
}
.btn-close .icon-cross:before {
  transform: rotate(45deg);
}
.btn-close .icon-cross:after {
  transform: rotate(-45deg);
}
.btn-close .icon-cross span {
  display: block;
}
.btn-close:hover, .btn-close:focus {
  transform: rotateZ(90deg);
  background: #0052cc;
}
.cross-stand-alone {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 20px;
  height: 20px;
}
.cross-stand-alone:before, .cross-stand-alone:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  right: 0;
  height: 2px;
  background: #000;
  border-radius: 2px;
}
.cross-stand-alone:before {
  transform: rotate(45deg);
}
.cross-stand-alone:after {
  transform: rotate(-45deg);
}
.cross-stand-alone span {
  display: block;
}
.cross-1px {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 40px;
  height: 40px;
}
.cross-1px:before, .cross-1px:after {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 1px;
  background: #000;
  border-radius: 1px;
}
.cross-1px:before {
  transform: rotate(45deg);
}
.cross-1px:after {
  transform: rotate(-45deg);
}
.cross-1px span {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


body.active-modal {
  overflow: hidden;
}
body.active-modal header.header {
  transition: 0.2s;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
header.header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: 0.2s;
  background: url('https://images.pexels.com/photos/129105/pexels-photo-129105.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') no-repeat center center;
  background-size: cover;
}
.container .avatar {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
  margin-bottom: 15px;
}
.container .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}
.container span {
  display: inline-block;
  background: #fff;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 11px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
}
.box-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  visibility: hidden;
}
.box-modal .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #000;
  opacity: 0;
  transition: opacity 1.3s;
}
.box-modal .body-modal {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
}
.box-modal .body-modal .inner-body-modal {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.43);
}
.box-modal.modal-show {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  transition: all 0.9s;
}
.box-modal.modal-show .overlay {
  opacity: 0.5;
  transition: opacity 1.3s;
}
.box-modal.modal-show .body-modal {
  max-height: 1000px;
  opacity: 1;
  transition: 0.3s max-height 0.8s, 0.3s opacity 0.6s;
}






.styled-table tbody tr {
  border-bottom: 0.5px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #210098;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #210098;
}

path:hover {
    fill: rgb(48, 38, 182);
}

path:active {
    fill: rgb(10, 3, 105);
}

  
  .login-dark form {
    max-width:320px;
    width:90%;
    background-color:#1e2833;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  }
  
  .login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef;
  }
  
  .login-dark form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  
  .login-dark form .btn-primary {
    background:#214a80;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#214a80;
    outline:none;
  }
  
  .login-dark form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  .login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
  }
  
  .login-dark form .btn-primary:active {
    transform:translateY(1px);
  }
  
  













